@import 'sections/common.css';
@import 'sections/hero.css';
@import 'sections/about.css';
@import 'sections/projects.css';
@import 'sections/skills.css';
@import 'sections/education.css';
@import 'sections/certifications.css';
@import 'sections/research.css';
@import 'sections/blog.css';
@import 'sections/gallery.css';
@import 'sections/resources.css';
@import 'sections/latest-notes.css';
@import 'sections/product.css';