* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--neutral-950);
    color: var(--neutral-200);
    font-family: var(--font-sans);
    overflow-x: hidden;
    min-height: 100vh;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.01em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
}

/* Utils */
.hidden {
    display: none !important;
}

/* Motion Accessibility */
@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }

    .reveal {
        opacity: 1 !important;
        transform: none !important;
    }
}